header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0;
  border-bottom: solid 4px var(--darkShadeblue);
}

.logo-container {
  flex-basis: 300px;
  flex-grow: 0.5;
  flex-shrink: 0;
  margin-left: 50px;
}

.logo-container img {
  width: 100%;
}

.logo-container img:hover {
  opacity: 0.8;
  background-color: black;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
}

li:after {
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  transition: width 0.45s ease, background-color 0.45s ease;
}

li:hover::after {
  width: 100%;
  background: #31cdcd;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1050px){
  .logo-container{
    position: fixed;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
  }
  nav{
    margin-top: 100px;
  }
}
